version: '3.7'

services:
  # =============================================  
  # == CALENDZ-API-CALENDAR  
  # =============================================  
  calendz-api-calendar:
    container_name: calendz-api-calendar
    hostname: calendz-api-calendar
    image: calendz/api-calendar:latest
    restart: always
    volumes:
      - /usr/src/app/node_modules
    ports:
      - "3000:3000"
    depends_on:
      - calendz-database
      - calendz-api
    command: npm run start
    env_file: ./.api-calendar.env

  # =============================================  
  # == CALENDZ-API  
  # =============================================  
  calendz-api:
    container_name: calendz-api
    hostname: calendz-api
    image: calendz/api:latest
    restart: always
    volumes:
      - /usr/src/app/node_modules
    ports:
      - "3001:3001"
    depends_on:
      - calendz-database
    command: npm run start
    env_file: ./.api.env

  # =============================================  
  # == CALENDZ-DATABASE  
  # =============================================      
  calendz-database:
    container_name: calendz-database
    hostname: calendz-database
    image: mongo:3.6
    restart: always
    volumes:
      - ../mongodb/data:/data/db
    env_file: ./.database.env
